@font-face {
  font-family: "Spline Sans";
  src: url("../assets/fonts/Satoshi-Regular.woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("../assets/fonts/Satoshi-Medium.woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("../assets/fonts/Satoshi-Bold.woff2");
  font-weight: 500;
  font-display: swap;
}
