@use "variables";
// Navigation

nav {
  padding: 10px;
}

.nav-menu {
  display: none;
}

ul {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 40px;
  list-style: none;
  text-decoration: none;

  a {
    text-decoration: none;
    color: var(--primary-font-color);
    font-size: 16px;
    font-weight: 500;
    font-family: "Geist";

    &:hover {
      color: black;
      transition: 0.3s all ease-in-out;
    }
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.circle {
  border-radius: 50%;
  background: black;
  width: 13.7px;
  height: 13.7px;
  position: absolute;
  left: 13px;
}

.logo {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: relative;
}

.mobile-menu-btn {
  display: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  position: fixed;
  right: 10px;
}

.cta-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #171a1e;
  gap: 10px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  font-family: "Geist";
  padding: 10px;
}

@media (max-width: 768px) {
  ul {
    display: none;
  }

  .cta-btn {
    display: block;
  }
}
