.title {
  text-align: center;
  margin-top: 20px;
  margin: 0 auto;
  font-size: 108px;
  font-family: "Spline Sans";
  font-weight: 400;
  width: 70%;
}

.section-1,
.section-2 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.section-1 {
  flex-direction: column;
  text-align: center;
}

.section-2 {
  background: #171a1e;
}
