@use "variables";
@use "fonts";
@use "header";
@use "section";

// Global styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1580px;
  margin: 0 auto;
  background: #fbfbf5;
}
